.offer{
    background: url(../../assets/1306572.jpg)center no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 70px 0;
    text-align: center;
}
.offer h3{
    color: #fff;
    font-size: 34px;
    line-height: 1.4;
    font-weight: 700;
}
.offer p{
    margin-bottom:25px;
    color: #fff;
    font-size: 14px;
    line-height: 1.8;
}
.offer button{
    background-color: #fff;
    border: 1px solid #fff;
    width: 140px;
    height: 50px;
    border-radius: 25px;
transition: 0.3s;
}
.offer button a{
    color: #50BD4D;
}
.offer button:hover{
    background-color: #F0F2F3;
}